:root {
	--body-color: #F7F3EE;
	--white: white;
	--primary-color: #223146;
	--secondary-color: #536884;
	--nav-color: #F7F3EE;

	--orange-color: #F6A800;

	--primary-button-color: #FFFFFF;
	--primary-button-text-color: #3D3D3D;
	--primary-button-border-color: #A7B9D2;

	--icon-font-size: 25px;
}
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*, *::before, *::after {
	box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
		scroll-behavior: smooth;
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background: var(--primary-button-border-color);
	border-radius: 20px;
}

*::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 20px;
}
body {
	background-color: var(--body-color);
	color: var(--primary-color);
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-kerning: none;
	line-height: 1.5;
	font-size: 14px;
}
body:not(.blog) #genesis-content p a, 
body:not(.blog) #genesis-content ul li a {
	color: var(--orange-color);
	text-decoration: underline;
}

a {
	text-decoration: none;
	transition: .1s linear;
}
a:focus, a:hover {
	color: #333;
	text-decoration: none;
}
p {
	margin: 0 0 28px;
	padding: 0;
	overflow-wrap: normal;
	word-break: normal;
}
ol, ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
	font-size: 1rem;
}
b, strong {
	font-weight: 700;
}
